

<div class="container extra-pad">
<p>Perfect! Now let’s get to the specifics. For each category you selected in step 1, please provide any and all details so your friends and family can pitch in on exactly what you need! Let’s figure out what you need when it comes to meals, chores, and pet care</p>
<hr>
<div class="row">
  <%= form_for @event, remote: true do |f|%>
    <% @categories.each do |category| %>
    <div class="col-md-3">
      <%= category.name %><br><br>
      <%= f.select :task_ids, options_from_collection_for_select(category.tasks.map { |task| task }, :id, :name, category.name), {}, {class: 'multiselect', multiple: true, remote: true} %>
    </div>
    <% end %>
  </div>
  <br>
  <div class="row text-center"><button type="submit" class="btn btn-default submit-button", remote="true">Add selected tasks</button></p></div>
<% end %>
</div>
