<div class="container">
  <div class="confirmation">
    <%= form_for :user do |f| %>
      <%= f.label :phone %>
      <%= f.text_field :phone %>
      <%= f.submit "Get Your Confirmation Code" %>
    <% end %>
  </div>
</div>
