.simple-calendar {

  .calendar-title {
    font-size: 24px;
    text-align: center;
    padding-left: 400px;
  }
  .next-month {}

  .day {

  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .previous-month {
    background-color: none;
  }

  .prev-month { }

  .next-month-title {
    background-color: none;
    padding-left: 375px;
  }
  .current-month {}

  .has-events { }
}
