.form-title {
  font-weight: bold;
  font-family: "Muli";
 }

.login-page {
  background-color: #f5f5f5;
}
.form-link a{
  color: #64686d;
}

.form-link a:hover{
  color: #c1bda8;
  text-decoration: none;
}

.login-items {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.panel-pad {
  padding-bottom: 20px;
}

.submit-button {
  color: white;
  background-color: #777;
  border-color: #777;
}

.submit-button:hover {
  color: white;
  background-color: #c1bda8;
  border-color: #c1bda8;
}

.less-padding {
  padding-top: 2px;
  padding-bottom: 8px;
}

.input {
  position: relative;
  margin-left: 150px;
  margin-right: 150px;
}

.split-form {
  width: 37% !important;
}

.split-form-street {
  width: 60% !important;
}

.split-form-unit {
  width: 14% !important;
}

.split-form-city {
  width: 40% !important;
}

.split-form-state {
  width: 13% !important;
}

.split-form-zip {
  width: 20% !important;
}

.short {
  width: 30% !important;
}

.second {
  opacity: 0;
}

.third {
  opacity: 0;
}

.last {
  opacity: 0;
}

.second.show {
  -webkit-transition: opacity 2.0s ease-in;
  -moz-transition: opacity 2.0s ease-in;
  transition: opacity 2.0s ease-in;
                              opacity: 1;
}

.third.show {
  -webkit-transition: opacity 2.0s ease-in;
  -moz-transition: opacity 2.0s ease-in;
  transition: opacity 2.0s ease-in;
                              opacity: 1;
}

.last.show {
  -webkit-transition: opacity 2.0s ease-in;
  -moz-transition: opacity 2.0s ease-in;
  transition: opacity 2.0s ease-in;
                              opacity: 1;
}
