.landing {
  background-image: url("https://images.unsplash.com/photo-1432057000846-e2204c1b22e4");
  background-size: cover;
  background-repeat: no-repeat;
}

.greeting {
  text-align: center;
  font-family: "Muli";
  font-size: 4.5em;
  color: white;
  position: absolute;
  top: 40%;
}
