.landing {
  background-image: url(asset-path("background3.jpg"));
  background-size: cover;
  background-repeat: no-repeat;
}

.greeting {
  margin-left: 30px;
  margin-right: 20px;
  text-align: center;
  font-family: "Muli";
  font-size: 4.5em;
  color: white;
  position: absolute;
  top: 40%;
}
