<div class="container">
<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>
  <% meetings.each do |meeting| %>
    <div>
     <span style="background-color:" > <%= find_task_name(meeting) %></span>
    </div>
  <% end %>
<% end %>

<%= link_to "Edit these tasks.", edit_events_task_path(@event) %>
</div>
