<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>
  <% meetings.each do |meeting| %>
    <div>
      <%= find_task_name(meeting) %>
    </div>
  <% end %>
<% end %>

<%= link_to "Edit these dates", edit_event_patch_path(@event) %>
