<%= month_calendar events_tasks: @meetings do |date, meetings| %>
  <%= date %>
  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.id %>
    </div>
  <% end %>
<% end %>

<%#= month_calendar do |date| %>
  <%#= date %>
<%# end %>
