



<%#= month_calendar events_tasks: @meetings do |date, meetings| %>
<%# binding.pry %>
  <%#= date %>
  <%# meetings.each do |meeting| %>
    <div>

      <strong><%#= meeting.id %><strong>
    </div>
  <%# end %>
<%# end %>

<%#= month_calendar do |date| %>
  <%#= date %>
<%# end %>
